@import '_variable.scss';

@font-face {
  font-family: 'title-font';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

header{
  padding : 75px 50px 50px 50px;
  display : flex;
  align-items : center;
  @include sp{
    display : block;
    margin : 60px 0 40px 0;
    padding : 0;
  }
}

.title_logo{
  font-family : 'title-font';
  font-size : 28px;
  letter-spacing : 0.1em;
  padding-bottom : 20px;
  color : #444444;
  a{
    cursor : default;
  }
  @include sp{
    text-align : center;
    padding-bottom : 50px;
  }
}

.tab-list{
  display : flex;
  margin-left : 100px;
  @include sp{
    justify-content : center;
    margin : 0 auto;
  }

  .tab-list-item{
    display : flex;
    align-items : end;
    font-size :  14px;
    letter-spacing : 0.1em;
    text-align : center;
  }
}

.tab-list-item:hover{
  color : rgba(0,0,0,0.6);
}

.tab-list-item:not(:first-child){
  margin-left : 50px;
}

.is-tab-active{
  border-bottom : 1px solid #000;
  color : rgba(0,0,0,0.6);
}

.tab-contents{
  display : none;
}

.is-contents-active{
  display : block;
  animation: fade-in .6s;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

//main

main{
  margin : 0 auto;
}

//works

.collection_works{
  max-width : 1180px;
  .works_list{
    width : 100%;
    display : flex;
    justify-content : space-around;
    @include sp{
      display : block;
    }

    .works_list-item{
      width : 500px;
      height : 250px;
      @include sp{
        width : 300px;
        height : 175px;
        margin : 20px auto;
      }
    }

    
    .item1{
      display : block;
      width : 100%;
      height : 250px;
      background-image : url(../img/works1.png);

      @include sp{
        width : 300px;
        height : 175px;
        background-image : url(../img/works1_sp.png);
      }
    }

    .item1:hover{
      opacity : 0.8;
    }

    .item_title{
      justify-content : center;
      font-size : 13px;
      margin-top : 10px;
    }
  }
}

// ポートフォリオエリア自己学習エリア
.self-access{
  background: rgba(153,153,153,0.1);
  margin : 60px 0;
  h2.self-access-title{
    text-align : center;
    font-size : 24px;
    padding : 30px;
    font-weight : normal;
    color : rgba(68,68,68,.6);
  }

  .horizontalScroll{
    display : flex;
    padding : 0 40px 50px 40px;
    overflow-x : scroll;
    @include sp{
      padding : 0 10px 50px 10px;
    }

    li{
      margin-left : 30px;
      @include sp{
        margin-left : 20px;
      }
    }

    li.lastChild{
      margin-right : 30px;
      @include sp{
        margin-right : 20px;
      }
    }

    li{
      p.access-title{
        font-size : 12px;
        text-align : center;
        padding-top : 10px;
        opacity : 0;
        @include sp{
          opacity : 1;
        }
      }
    }

    .left-arrow{
      width : 0;
      transition : .2s linear;
    }

    .right-arrow{
      width : 0;
      transition : .2s linear;
    }

    .left-arrow-none{
      width : 0;
      transition : .2s linear;
    }

    .scroll_arrow-left{
      position: absolute;
      left: 0;
      z-index: 2;
      width: 100px;
      height: 386px;
      background: linear-gradient(to right, #ffffff, transparent);
      @include sp{
        width : 50px;
      }
    }

    .scroll_arrow-left:after{
      content : "";
      position : absolute;
      width : 35px;
      height : 35px;
      border-top : 3px solid #999;
      border-left : 3px solid #999;
      top : 50%;
      left : 50%;
      transform : translate(-50%, -200%) rotate(-45deg);
      @include sp{
        width : 20px;
        height : 20px;
        border-top : 2px solid #999;
        border-left : 2px solid #999;
      }
    }
  
    .scroll_arrow-right{
      position: absolute;
      border-style: none;
      right : 0;
      z-index: 2;
      width: 100px;
      height: 386px;
      background: linear-gradient(to left, #ffffff, transparent); 
      @include sp{
        width : 50px;
      }
    }

    .scroll_arrow-right:after{
      content : "";
      position : absolute;
      width : 35px;
      height : 35px;
      border-top : 3px solid #999;
      border-right : 3px solid #999;
      top : 50%;
      left : 50%;
      transform : translate(-50%, -200%) rotate(45deg);
      @include sp{
        width : 20px;
        height : 20px;
        border-top : 2px solid #999;
        border-right : 2px solid #999;
      }
    }
  }
}

.title-on{
  animation : title-on .3s ease-in;
  animation-fill-mode: forwards;
  @include sp{
    animation : none;
  }
}

@keyframes title-on{
  0%{
    opacity : 0;
    transform : translateY(-30%);    
  }
  100%{
    opacity : 1;
    transform : translateY(0);
  }
}

.horizontalScroll::-webkit-scrollbar{
  display : none;
}

// モーダルエリア
.item1_modalArea{
  opacity: 0;
  visibility: hidden;
  transition : all 0.3s ease;
  background: rgba(0,0,0,0.8);
  z-index : 99;
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  .modal_contents{
    width : 90%;
    height : 80%;
    background: #fff;
    position : fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    overflow-y : scroll;
  }
  .modal_contents_Close:hover{
    color : rgba(204,204,204,0.8);
    cursor : pointer;
  }
}

.modalArea_is-active{
  opacity: 1;
  visibility: visible;
}

// modalコンテンツ
.modal_contents{
  .works_intro_area{
    color : #444444;
    .works_intro_area-title{
      display : flex;
      margin : 80px auto 40px auto;
      justify-content : center;
      align-items : end;
      font-size : 24px;
      @include sp{
        display : block;
        text-align : center;
        margin : 80px auto 60px auto;
      }
      .works_main-subtitle{
        font-size : 14px;
        margin-left : 15px;
        @include sp{
          display : block;
          text-align : center;
          margin-top : 10px;
        }
      }
    }

    .works_intro_area_detail-area{
      max-width : 300px;
      margin  : 0 auto 30px auto;
      font-size : 12px;
      @include sp{
        max-width  : 80%;
        font-size : 12px;
      }
      .works_intro_area_detail-table:not(:first-child){
        margin-top : 5px;
      }
    }

    .works_intro_area_ex{
      p{
        max-width : 700px;
        display : block;
        word-wrap : break-word;
        margin : 0 auto 50px auto;
        font-size : 9px;
        line-height : 1.5;
        letter-spacing : 0.1em;
        @include sp{
          max-width : 300px;
        }
      }
    }

    .works_intro_area_detail-img{
      display : flex;
      justify-content : space-around;
      margin-bottom : 20px;
      @include sp{
        display : block;
        width : 100%;
      }
      .img-pc{
        @include sp{
          text-align : center;
          margin-top : 40px;
        }
        img{
          @include sp{
            width : 80%;
          }
        }
        .img-pc_title{
          display : block;
          font-size : 18px;
          text-align : center;
          margin-bottom : 10px;
          font-size : 14px;
          @include sp{
            font-size : 12px;
          }
        }
        .img-pc_subtitle{
          margin : 50px 0 10px 0;
          text-align : center;
          font-size : 14px;
          @include sp{
            font-size : 12px;
          }
        }
      }
      .img-sp{
        @include sp{
          text-align : center;
          margin-top : 100px;
        }
        img{
          @include sp{
            width : 80%;
          }
        }
        .img-sp_title{
          display : block;
          font-size : 14px;
          text-align : center;
          margin-bottom : 8px;
          @include sp{
            font-size : 12px;
          }
        }
        .img-sp_subtitle{
          margin : 50px 0 10px 0;
          text-align : center;
          font-size : 14px;
          @include sp{
            font-size : 12px;
          }
        }
      }
    }
  }
}

// アバウトエリア
.about_area{
  margin : 0 40px;
  .career_pro{
    .career_pro-str{
      font-size : 11px;
      color : rgba(0,0,0,0.6);
      line-height : 1.8;
    }
  }

  .profile_table_wrapper{
    margin-top : 60px;
    display : flex;
    align-items : center;
    @include sp{
      display : block;
    }
    .profile-image{
      background : url(../img/no-image.png) no-repeat center/cover;
      width : 150px;
      height : 175px;
      border : 1px solid rgba(0,0,0,0.2);
      margin-right : 40px;
      @include sp{
        margin : 0 auto 40px;
      }
    }
    .profile_table{
      @include sp{
        width : 250px;
        margin : 0 auto;
      }
      .profile_table-list{
        font-size : 11px;
        color : #444444;
        .list-title{
          width : 75px;
          display : inline-block;
        }
      }
      .profile_table-list:not(:last-child){
        margin-bottom : 10px;
      }
    } 
  }
}

.self-introduction{
  margin-top : 80px;
  .intro-title{
    font-size : 40px;
    transform  : skewX(-30deg);
    color : rgba(68,68,68,0.2);

    @include sp{
      font-size : 32px;
      text-align : center;
    }
  }
  .intro-str{
    font-size : 11px;
    color : rgba(0,0,0,0.5);
    line-height : 1.8;
    margin-top : 20px;
    margin-bottom : 60px;
    .str1{
      margin-bottom : 15px;
    }
  }
}

footer{
  position : absolute;
  top : 0;
  display : block;
  width : 100%;
  .copyright{
    font-size : 10px;
    text-align : right;
    padding :  10px 40px 10px 0;
    color : rgba(0,0,0,0.6);
  }
}